In [47]:
!pip install sklearn

Collecting sklearn
  Downloading https://files.pythonhosted.org/packages/1e/7a/dbb3be0ce9bd5c8b7e3d87328e79063f8b263b2b1bfa4774cb1147bfcd3f/sklearn-0.0.tar.gz
Requirement already satisfied: scikit-learn in c:\users\suman\anaconda3\lib\site-packages (from sklearn) (0.20.1)
Requirement already satisfied: numpy>=1.8.2 in c:\users\suman\anaconda3\lib\site-packages (from scikit-learn->sklearn) (1.15.4)
Requirement already satisfied: scipy>=0.13.3 in c:\users\suman\anaconda3\lib\site-packages (from scikit-learn->sklearn) (1.1.0)
Building wheels for collected packages: sklearn
  Running setup.py bdist_wheel for sklearn: started
  Running setup.py bdist_wheel for sklearn: finished with status 'done'
  Stored in directory: C:\Users\suman\AppData\Local\pip\Cache\wheels\76\03\bb\589d421d27431bcd2c6da284d5f2286c8e3b2ea3cf1594c074
Successfully built sklearn
Installing collected packages: sklearn
Successfully installed sklearn-0.0

In [56]:
!pip install --user --install-option="--prefix=" -U scikit-learn

Collecting scikit-learn
  Using cached https://files.pythonhosted.org/packages/57/5c/133b464c8d0be7ac8c9414b6ff2ae848808a35ce03b146fc2c43777e51f9/scikit-learn-0.21.2.tar.gz
Requirement already satisfied, skipping upgrade: numpy>=1.11.0 in c:\users\suman\anaconda3\lib\site-packages (from scikit-learn) (1.15.4)
Requirement already satisfied, skipping upgrade: scipy>=0.17.0 in c:\users\suman\anaconda3\lib\site-packages (from scikit-learn) (1.1.0)
Requirement already satisfied, skipping upgrade: joblib>=0.11 in c:\users\suman\appdata\roaming\python\python37\site-packages (from scikit-learn) (0.13.2)
Skipping bdist_wheel for scikit-learn, due to binaries being disabled for it.
Installing collected packages: scikit-learn
  Running setup.py install for scikit-learn: started
    Running setup.py install for scikit-learn: finished with status 'error'
    Complete output from command C:\Users\suman\Anaconda3\python.exe -u -c "import setuptools, tokenize;__file__='C:\\Users\\suman\\AppData\\Local\\Temp\\pip-install-bjw_ff_g\\scikit-learn\\setup.py';f=getattr(tokenize, 'open', open)(__file__);code=f.read().replace('\r\n', '\n');f.close();exec(compile(code, __file__, 'exec'))" install --record C:\Users\suman\AppData\Local\Temp\pip-record-phop5_wc\install-record.txt --single-version-externally-managed --compile --prefix= --user --prefix=:
    Partial import of sklearn during the build process.
    blas_opt_info:
    blas_mkl_info:
    No module named 'numpy.distutils._msvccompiler' in numpy.distutils; trying from distutils
    customize MSVCCompiler
      libraries mkl_rt not found in ['C:/Users/suman/Anaconda3\\Library\\lib']
      NOT AVAILABLE

    blis_info:
    No module named 'numpy.distutils._msvccompiler' in numpy.distutils; trying from distutils
    customize MSVCCompiler
      libraries blis not found in ['C:\\Users\\suman\\Anaconda3\\lib', 'C:\\', 'C:\\Users\\suman\\Anaconda3\\libs']
      NOT AVAILABLE

    openblas_info:
    No module named 'numpy.distutils._msvccompiler' in numpy.distutils; trying from distutils
    customize MSVCCompiler
    No module named 'numpy.distutils._msvccompiler' in numpy.distutils; trying from distutils
    customize MSVCCompiler
      libraries openblas not found in ['C:\\Users\\suman\\Anaconda3\\lib', 'C:\\', 'C:\\Users\\suman\\Anaconda3\\libs']
    get_default_fcompiler: matching types: '['gnu', 'intelv', 'absoft', 'compaqv', 'intelev', 'gnu95', 'g95', 'intelvem', 'intelem', 'flang']'
    customize GnuFCompiler
    Could not locate executable g77
    Could not locate executable f77
    customize IntelVisualFCompiler
    Could not locate executable ifort
    Could not locate executable ifl
    customize AbsoftFCompiler
    Could not locate executable f90
    customize CompaqVisualFCompiler
    Could not locate executable DF
    customize IntelItaniumVisualFCompiler
    Could not locate executable efl
    customize Gnu95FCompiler
    Found executable C:\MinGW\bin\gfortran.exe
      NOT AVAILABLE

    atlas_3_10_blas_threads_info:
    Setting PTATLAS=ATLAS
    No module named 'numpy.distutils._msvccompiler' in numpy.distutils; trying from distutils
    customize MSVCCompiler
      libraries tatlas not found in ['C:\\Users\\suman\\Anaconda3\\lib', 'C:\\', 'C:\\Users\\suman\\Anaconda3\\libs']
      NOT AVAILABLE

    atlas_3_10_blas_info:
    No module named 'numpy.distutils._msvccompiler' in numpy.distutils; trying from distutils
    customize MSVCCompiler
      libraries satlas not found in ['C:\\Users\\suman\\Anaconda3\\lib', 'C:\\', 'C:\\Users\\suman\\Anaconda3\\libs']
      NOT AVAILABLE

    atlas_blas_threads_info:
    Setting PTATLAS=ATLAS
    No module named 'numpy.distutils._msvccompiler' in numpy.distutils; trying from distutils
    customize MSVCCompiler
      libraries ptf77blas,ptcblas,atlas not found in ['C:\\Users\\suman\\Anaconda3\\lib', 'C:\\', 'C:\\Users\\suman\\Anaconda3\\libs']
      NOT AVAILABLE

    atlas_blas_info:
    No module named 'numpy.distutils._msvccompiler' in numpy.distutils; trying from distutils
    customize MSVCCompiler
      libraries f77blas,cblas,atlas not found in ['C:\\Users\\suman\\Anaconda3\\lib', 'C:\\', 'C:\\Users\\suman\\Anaconda3\\libs']
      NOT AVAILABLE

    accelerate_info:
      NOT AVAILABLE

    C:\Users\suman\Anaconda3\lib\site-packages\numpy\distutils\system_info.py:625: UserWarning:
        Atlas (http://math-atlas.sourceforge.net/) libraries not found.
        Directories to search for the libraries can be specified in the
        numpy/distutils/site.cfg file (section [atlas]) or by setting
        the ATLAS environment variable.
      self.calc_info()
    blas_info:
    No module named 'numpy.distutils._msvccompiler' in numpy.distutils; trying from distutils
    customize MSVCCompiler
      libraries blas not found in ['C:\\Users\\suman\\Anaconda3\\lib', 'C:\\', 'C:\\Users\\suman\\Anaconda3\\libs']
      NOT AVAILABLE

    C:\Users\suman\Anaconda3\lib\site-packages\numpy\distutils\system_info.py:625: UserWarning:
        Blas (http://www.netlib.org/blas/) libraries not found.
        Directories to search for the libraries can be specified in the
        numpy/distutils/site.cfg file (section [blas]) or by setting
        the BLAS environment variable.
      self.calc_info()
    blas_src_info:
      NOT AVAILABLE

    C:\Users\suman\Anaconda3\lib\site-packages\numpy\distutils\system_info.py:625: UserWarning:
        Blas (http://www.netlib.org/blas/) sources not found.
        Directories to search for the sources can be specified in the
        numpy/distutils/site.cfg file (section [blas_src]) or by setting
        the BLAS_SRC environment variable.
      self.calc_info()
      NOT AVAILABLE

    No module named 'numpy.distutils._msvccompiler' in numpy.distutils; trying from distutils
    Traceback (most recent call last):
      File "C:\Users\suman\Anaconda3\lib\site-packages\setuptools\msvc.py", line 489, in _find_latest_available_vc_ver
        return self.find_available_vc_vers()[-1]
    IndexError: list index out of range

    During handling of the above exception, another exception occurred:

    Traceback (most recent call last):
      File "<string>", line 1, in <module>
      File "C:\Users\suman\AppData\Local\Temp\pip-install-bjw_ff_g\scikit-learn\setup.py", line 290, in <module>
        setup_package()
      File "C:\Users\suman\AppData\Local\Temp\pip-install-bjw_ff_g\scikit-learn\setup.py", line 286, in setup_package
        setup(**metadata)
      File "C:\Users\suman\Anaconda3\lib\site-packages\numpy\distutils\core.py", line 135, in setup
        config = configuration()
      File "C:\Users\suman\AppData\Local\Temp\pip-install-bjw_ff_g\scikit-learn\setup.py", line 174, in configuration
        config.add_subpackage('sklearn')
      File "C:\Users\suman\Anaconda3\lib\site-packages\numpy\distutils\misc_util.py", line 1037, in add_subpackage
        caller_level = 2)
      File "C:\Users\suman\Anaconda3\lib\site-packages\numpy\distutils\misc_util.py", line 1006, in get_subpackage
        caller_level = caller_level + 1)
      File "C:\Users\suman\Anaconda3\lib\site-packages\numpy\distutils\misc_util.py", line 943, in _get_configuration_from_setup_py
        config = setup_module.configuration(*args)
      File "sklearn\setup.py", line 80, in configuration
        maybe_cythonize_extensions(top_path, config)
      File "C:\Users\suman\AppData\Local\Temp\pip-install-bjw_ff_g\scikit-learn\sklearn\_build_utils\__init__.py", line 68, in maybe_cythonize_extensions
        with_openmp = check_openmp_support()
      File "C:\Users\suman\AppData\Local\Temp\pip-install-bjw_ff_g\scikit-learn\sklearn\_build_utils\openmp_helpers.py", line 84, in check_openmp_support
        extra_postargs=openmp_flags)
      File "C:\Users\suman\Anaconda3\lib\distutils\_msvccompiler.py", line 345, in compile
        self.initialize()
      File "C:\Users\suman\Anaconda3\lib\distutils\_msvccompiler.py", line 238, in initialize
        vc_env = _get_vc_env(plat_spec)
      File "C:\Users\suman\Anaconda3\lib\site-packages\setuptools\msvc.py", line 185, in msvc14_get_vc_env
        return EnvironmentInfo(plat_spec, vc_min_ver=14.0).return_env()
      File "C:\Users\suman\Anaconda3\lib\site-packages\setuptools\msvc.py", line 843, in __init__
        self.si = SystemInfo(self.ri, vc_ver)
      File "C:\Users\suman\Anaconda3\lib\site-packages\setuptools\msvc.py", line 485, in __init__
        self.vc_ver = vc_ver or self._find_latest_available_vc_ver()
      File "C:\Users\suman\Anaconda3\lib\site-packages\setuptools\msvc.py", line 492, in _find_latest_available_vc_ver
        raise distutils.errors.DistutilsPlatformError(err)
    distutils.errors.DistutilsPlatformError: Microsoft Visual C++ 14.0 is required. Get it with "Microsoft Visual C++ Build Tools": https://visualstudio.microsoft.com/downloads/

    ----------------------------------------

C:\Users\suman\Anaconda3\lib\site-packages\pip\_internal\commands\install.py:211: UserWarning: Disabling all use of wheels due to the use of --build-options / --global-options / --install-options.
  cmdoptions.check_install_build_global(options)
Command "C:\Users\suman\Anaconda3\python.exe -u -c "import setuptools, tokenize;__file__='C:\\Users\\suman\\AppData\\Local\\Temp\\pip-install-bjw_ff_g\\scikit-learn\\setup.py';f=getattr(tokenize, 'open', open)(__file__);code=f.read().replace('\r\n', '\n');f.close();exec(compile(code, __file__, 'exec'))" install --record C:\Users\suman\AppData\Local\Temp\pip-record-phop5_wc\install-record.txt --single-version-externally-managed --compile --prefix= --user --prefix=" failed with error code 1 in C:\Users\suman\AppData\Local\Temp\pip-install-bjw_ff_g\scikit-learn\

In [2]:
#importing necessary libraries
import pandas as pd
import numpy as np
import ast
import sklearn

In [3]:
#Task 1: to understand the dataset of movies_metadata and links_small dataset
#Task 2: to load the dataset 
movies=pd.read_csv(r"movies_metadata.csv")
links_small=pd.read_csv(r"links_small.csv")

C:\Users\suman\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3020: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
#to print 5 rows of movies dataset
movies.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [5]:
#to print 5 rows of links dataset
links_small.head()

   movieId  imdbId   tmdbId
0        1  114709    862.0
1        2  113497   8844.0
2        3  113228  15602.0
3        4  114885  31357.0
4        5  113041  11862.0

In [6]:
#analysing the dataset
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 24 columns):
adult                    45466 non-null object
belongs_to_collection    4494 non-null object
budget                   45466 non-null object
genres                   45466 non-null object
homepage                 7782 non-null object
id                       45466 non-null object
imdb_id                  45449 non-null object
original_language        45455 non-null object
original_title           45466 non-null object
overview                 44512 non-null object
popularity               45461 non-null object
poster_path              45080 non-null object
production_companies     45463 non-null object
production_countries     45463 non-null object
release_date             45379 non-null object
revenue                  45460 non-null float64
runtime                  45203 non-null float64
spoken_languages         45460 non-null object
status                   45379 non-null object
tagline                  20412 non-null object
title                    45460 non-null object
video                    45460 non-null object
vote_average             45460 non-null float64
vote_count               45460 non-null float64
dtypes: float64(4), object(20)
memory usage: 8.3+ MB

In [7]:
#to check links data set info
links_small.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9125 entries, 0 to 9124
Data columns (total 3 columns):
movieId    9125 non-null int64
imdbId     9125 non-null int64
tmdbId     9112 non-null float64
dtypes: float64(1), int64(2)
memory usage: 213.9 KB

In [8]:
#to check number of rows and column
movies.shape

(45466, 24)

In [9]:
#to check number of column and roes in links dataset
links_small.shape

(9125, 3)

In [10]:
#basic statistics on movies dataset
movies.describe()

            revenue       runtime  vote_average    vote_count
count  4.546000e+04  45203.000000  45460.000000  45460.000000
mean   1.120935e+07     94.128199      5.618207    109.897338
std    6.433225e+07     38.407810      1.924216    491.310374
min    0.000000e+00      0.000000      0.000000      0.000000
25%    0.000000e+00     85.000000      5.000000      3.000000
50%    0.000000e+00     95.000000      6.000000     10.000000
75%    0.000000e+00    107.000000      6.800000     34.000000
max    2.787965e+09   1256.000000     10.000000  14075.000000

In [11]:
#basic statistics on links dataset
links_small.describe()

             movieId        imdbId         tmdbId
count    9125.000000  9.125000e+03    9112.000000
mean    31123.291836  4.798244e+05   39104.545544
std     40782.633604  7.431774e+05   62814.519801
min         1.000000  4.170000e+02       2.000000
25%      2850.000000  8.884600e+04    9451.750000
50%      6290.000000  1.197780e+05   15852.000000
75%     56274.000000  4.284410e+05   39160.500000
max    164979.000000  5.794766e+06  416437.000000

In [12]:
#to check null values in movies dataset
movies.isnull().sum()

adult                        0
belongs_to_collection    40972
budget                       0
genres                       0
homepage                 37684
id                           0
imdb_id                     17
original_language           11
original_title               0
overview                   954
popularity                   5
poster_path                386
production_companies         3
production_countries         3
release_date                87
revenue                      6
runtime                    263
spoken_languages             6
status                      87
tagline                  25054
title                        6
video                        6
vote_average                 6
vote_count                   6
dtype: int64

In [13]:
#to check null values in links dataset
links_small.isnull().sum()

movieId     0
imdbId      0
tmdbId     13
dtype: int64

we observe that movies data set contain movies id tmdbdid and imdbid which contain as small set in links csv file
and tmdb id in links csv file having 13 null values
and we have to build our content based recommendation system using tagline and overview of movies dataset

In [14]:
#Task 4: data cleaning
# a : to remove null values from tmdbid and convert into floating into int
links_small['tmdbId'].isnull().sum()

13

# Exploring Dataset

In [15]:
# data cleaning for genres column
movies['genres'].head()

0    [{'id': 16, 'name': 'Animation'}, {'id': 35, '...
1    [{'id': 12, 'name': 'Adventure'}, {'id': 14, '...
2    [{'id': 10749, 'name': 'Romance'}, {'id': 35, ...
3    [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
4                       [{'id': 35, 'name': 'Comedy'}]
Name: genres, dtype: object

In [16]:
#task 4: 
# a = each movie has multiple generes and task is to seperate the generes and store them in corresponding to each row in df
#getting 0th vlaue of genres column and we observe that its data is string of list of dictionaires 

movies['genres'].values[0]

"[{'id': 16, 'name': 'Animation'}, {'id': 35, 'name': 'Comedy'}, {'id': 10751, 'name': 'Family'}]"

In [17]:
#now to covert into suitable form for processing we need to convet string of dict to dict type for this we use literal eval func
#filna fills na (not applicable ) value with string of empty list and literal eval used for converting string into list.

movies['genres']=movies['genres'].fillna('[]').apply(ast.literal_eval)

In [18]:
#error handling
movies['genres']=movies['genres'].apply(lambda x: [ i['name'] for i in x] if isinstance(x,list) else [])

In [20]:
#to represent list of genre
movies['genres'].head()

0     [Animation, Comedy, Family]
1    [Adventure, Fantasy, Family]
2               [Romance, Comedy]
3        [Comedy, Drama, Romance]
4                        [Comedy]
Name: genres, dtype: object

In [20]:
#to show 1st genre column value
movies['genres'].values[0]

['Animation', 'Comedy', 'Family']

In [21]:
#to convert list og genre column into vertical stacking
genre_split=movies.apply(lambda x: pd.Series( x['genres']), axis=1).stack().reset_index(level=1,drop=True)

In [22]:
#using drop method to drop genre column and join genre_split
genre_split.name='genre'
md=movies.drop('genres',axis=1).join(genre_split)

In [23]:
#vertical stacking
md['genre'].head(10)

0    Animation
0       Comedy
0       Family
1    Adventure
1      Fantasy
1       Family
2      Romance
2       Comedy
3       Comedy
3        Drama
Name: genre, dtype: object

In [24]:
#to check null value in links_small and converting into int type
links_small=links_small[links_small['tmdbId'].notnull()]['tmdbId'].astype('int')

In [25]:
#using pandas api types function to check the type of id column in md dataframe and besure about the int type
from pandas.api.types import is_numeric_dtype
is_numeric_dtype(md['id'])

False

In [26]:
#the above type reult is false it means id coulmn some object or string value and to convert them in int type 
#we need to drop particular id from dataframe and again convert md data id column into integer
md=md.drop([19730,29503,35587])
md['id']=md['id'].astype('int')
md['id'].head(10)

0      862
0      862
0      862
1     8844
1     8844
1     8844
2    15602
2    15602
3    31357
3    31357
Name: id, dtype: int32

In [27]:
#to merge md dataframe and links_small dataframe 
md_new=md[md['id'].isin(links_small)]
md_new.shape

(22491, 24)

In [30]:
#the dataframe size so big and taking some fraction part of dataframe we use frac method and random state
#again check shape of new dataframe is small comapre to md_new dataframe
md_sample=md_new.sample(frac=0.15,random_state=42)
md_sample.shape

(3374, 24)

In [31]:
#in sample dataframe we checking null values in tagline column
md_sample['tagline'].isnull().sum()

707

In [32]:
#to check null values in overview dataframe
md_sample['overview'].isnull().sum()

3

In [33]:
#if we find null values in overview and tagline dataframe just remove this null value using fillna with empty string
md_sample['tagline']=md_sample['tagline'].fillna('')
md_sample['overview']=md_sample['overview'].fillna('')

In [36]:
#merging both tagline and overview column to description column
md_sample['description']=md_sample['overview']+md_sample['tagline']

In [38]:
#now again checking description column for null values if it have fill with empty string using fillna function
md_sample['description']=md_sample['description'].fillna('')

In [41]:
#showing 5 top values of md_sample dataframe
md_sample.head(3)

,adult,belongs_to_collection,budget,homepage,id,imdb_id,original_language,original_title,overview,popularity,...,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,genre,description
14850,False,NaN,28000000,NaN,23172,tt1273678,en,The Spy Next Door,Former CIA spy Bob Ho takes on his toughest as...,6.66342,...,94.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"Spying is easy, Babysitting is hard",The Spy Next Door,False,5.5,351.0,Family,Former CIA spy Bob Ho takes on his toughest as...
16818,False,NaN,80000000,http://www.justgowithit-movie.com,50546,tt1564367,en,Just Go with It,"A plastic surgeon, romancing a much younger sc...",9.26796,...,117.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Sometimes a guy's best wingman... is a wingwoman,Just Go with It,False,6.3,1588.0,Comedy,"A plastic surgeon, romancing a much younger sc..."
3483,False,NaN,0,NaN,18644,tt0051818,en,King Creole,"Danny Fisher, young delinquent, flunks out of ...",4.74693,...,116.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Back on screen for the first time in a year!,King Creole,False,6.5,19.0,Action,"Danny Fisher, young delinquent, flunks out of ..."

In [58]:
#importing sklearn features like metrics pairwise and feature extractio from text
from sklearn.metrics.pairwise import linear_kernel, cosine_similarity
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer

In [59]:
#Vectorize the description column of the dataframe by using the TF – IDF modelthat represents text into vectors
#Analyse the shape of the matrix formed by applying TF – IDF algorithm
tf = TfidfVectorizer(analyzer='word' , ngram_range=(1,2),min_df=0,stop_words='english')
tfidf_matrix = tf.fit_transform(md_sample['description'])
tfidf_matrix.shape

(3374, 99501)

In [65]:
# Pass the TF – IDF matrix into cosine similarity function.
cosine_sim=linear_kernel(tfidf_matrix,tfidf_matrix)

In [66]:
#showing cosine sim matrix
cosine_sim

array([[1.        , 0.00783607, 0.        , ..., 0.        , 0.03788309,
        0.00629117],
       [0.00783607, 1.        , 0.        , ..., 0.        , 0.00528033,
        0.        ],
       [0.        , 0.        , 1.        , ..., 0.        , 0.        ,
        0.01328575],
       ...,
       [0.        , 0.        , 0.        , ..., 1.        , 0.00930783,
        0.        ],
       [0.03788309, 0.00528033, 0.        , ..., 0.00930783, 1.        ,
        0.        ],
       [0.00629117, 0.        , 0.01328575, ..., 0.        , 0.        ,
        1.        ]])

In [62]:
#converting them into series
pd.Series(md_sample.index, index=md_sample['title'])

title
The Spy Next Door                  14850
Just Go with It                    16818
King Creole                         3483
Nancy Drew                         11865
American Wedding                    6437
Sympathy for Lady Vengeance        10688
Rush                               21611
Godzilla                            1773
Harper                              7594
Croupier                            3661
Toy Story 3                        15348
The Dead Pool                       4370
Purple Rain                         7688
The Rocketeer                       1985
The Philadelphia Story               871
Kurt & Courtney                     1748
The Presidio                        3079
Anywhere But Here                   2934
Guilty as Sin                        458
Battlestar Galactica: Razor        12296
Spider-Man 2                        7909
Crazy Heart                        14558
The Godfather                        834
Hulk                                6385
Pie in the Sky                       127
Slumdog Millionaire                13060
Supernova                           3073
In Praise Of Older Women            8786
Dark Blue                           6047
Land of Silence and Darkness       13533
                                   ...
Transformers: Age of Extinction    23617
Everyone Says I Love You            1027
City Lights                         3189
TiMER                              15392
Winter's Tale                      22787
Music from Another Room             1675
Frank                              23631
Valhalla Rising                    15087
Shrek the Halls                    13152
The General                         2312
Cyclo                                826
Babes in Toyland                    2969
Diva                                1219
Nightfall                          16242
Song of the Sea                    25044
High Anxiety                        8770
Gangster Squad                     20206
I Love You, Man                    13492
Castle Freak                         217
The Ninth Configuration             5075
Heaven                              5496
Little Buddha                        360
The Green Ray                       6495
White Fang                          5227
DysFunktional Family                6146
Fallen                              1666
Thirst                             15482
Swimming Pool                       6389
Hillbillys in a Haunted House       3340
Betty Fisher and Other Stories      5440
Length: 3374, dtype: int64

In [64]:
##Reset the index of md_new_sample dataframe.
#Store the title column of md_new_sample dataframe into a variable called title
#Make a pandas series having first argument as index of md_new_sample and index of the series being set to title present in md_new_sample dataframe and store it into indices variable 
md_sample=md_sample.reset_index()
titles=md_sample['title']
indicies=pd.Series(md_sample.index, index=md_sample['title'])

In [67]:
#now building main function of recommender system

def recommender(title):
    idx=indicies[title]
    sim_scores=list(enumerate(cosine_sim[idx]))
    sim_scores=sorted(sim_scores, key = lambda x : x[1] , reverse=True)
    sim_scores=sim_scores[1:31]
    movie_indicies = [i[0] for i in sim_scores]
    return titles.iloc[movie_indicies]

input  movie name and then finds its index.
using indices variable formed above Find the similarity scored by passing the index of movie in cosine similarity
function.As the similarity of input movie has been found with all the movies in 
sort the list in decreasing order so that movie with maximum similarity is at top
of the list. Find the top 10 indices of movies similar to input movie and return their movie
name.

In [68]:
#showing top 10 recoomendation of the entered movie in the function
recommender('Avatar')

3012    Lara Croft Tomb Raider: The Cradle of Life
3299                         Hellraiser: Bloodline
1336                                  The American
3046                               A Grand Day Out
3188                                 House Party 2
26                                       Supernova
368                                         Avalon
433                                       Semi-Pro
1640                     Heaven Knows, Mr. Allison
340                               The Book of Life
926                               The Book of Life
443                     E.T. the Extra-Terrestrial
1100                    E.T. the Extra-Terrestrial
2045                                    Two Lovers
2574                 Star Trek IV: The Voyage Home
1495             The Navigator: A Medieval Odyssey
2786                           Memoirs of a Geisha
740                                       Maverick
2348                                      Maverick
3344               Transformers: Age of Extinction
2530                              Dawn of the Dead
2974                                    Iron Man 3
359                                     Two Deaths
721        The Messenger: The Story of Joan of Arc
3228                    From the Earth to the Moon
2381                                   Windtalkers
2014                                    The Marine
2713              Mutant Pumpkins from Outer Space
2856              Mutant Pumpkins from Outer Space
194                                  Contamination
Name: title, dtype: object

NameError: name 'recommender' is not defined